<div class="playlist-container">
  <div class="container is-grip ">
    <div class="columns">
      <div class="column">
        <div class="tabs is-centered">
          <ul>
            <li
              [ngClass]="{ 'is-active': tab.isActive }"
              *ngFor="let tab of tabs"
            >
              <a (click)="changeTab(tab)">
                <span class="icon is-small">
                  <i [ngClass]="tab.icon" aria-hidden="true"></i>
                </span>
                <span>{{ tab.label }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <app-input-form [hidden]="!tabs[0].isActive"></app-input-form>
    <app-playlists [hidden]="!tabs[1].isActive"></app-playlists>
  </div>
</div>
